* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 512px;
}

.background {
    background-color: rgb(3, 3, 104);
    z-index: -1;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 512px;
}

header {
    max-width: 512px;

}

#img_header {
    max-width: 512px;
    margin: -4px;
}

.titolo {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    color: white;
    line-height: 27px;
    padding: 20px 0 15px 0;
}

.paragrafo_titolo {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    color: white;
    padding: 0 0 50px 0;
}

.Download {
    text-align: center;
    background-color: white;
    margin: 1px;
    border: 1px solid black;
    height: 45px;
    width: 300px;
    margin-left: 120px;
    padding: 13px;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
}

.OpenDiscord {
    text-align: center;
    background-color: #5865F2;
    margin: 1px;
    border: 1px solid black;
    height: 45px;
    width: 300px;
    margin-left: 120px;
    padding: 13px;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
    margin-bottom: 50px;
}

.fun-group {
    background-image: url(./img/background.png);
    background-size: cover;
    border-radius: 20px;
    padding: 30px 0 0 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
    
}

.fun-group2{
    background-image: url(./img/background.png);
    border-radius: 20px;
    padding: 10px 0 60px 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
}

.Title_fun_group {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
     padding: 20px 0 0 0;

}

.paragrafo_fun_group{
    padding: 10px 0 0 0;
}